.navbar {
  display: flex;
  gap: 159px;
  height: 39px;
  position: absolute;
  top: 48px;
  left: 452px;
}

.logo {
  height: 39px;
  width: 53px;
  object-fit: cover;
}

.nav {
  display: flex;
  align-items: center;
  gap: 45px;
}
