@font-face {
	font-family: 'Yandex Sans Text';
	font-style: normal;
	font-weight: 500;
	src: url('YS Text-Medium.woff2') format('woff2'),
    url('YS Text-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Yandex Sans Text';
	font-style: normal;
	font-weight: 400;
	src: url('YS Text-Regular.woff2') format('woff2'),
    url('YS Text-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Yandex Sans Text';
	font-style: normal;
	font-weight: 700;
	src: url('YS Text-Bold.woff2') format('woff2'),
    url('YS Text-Bold.woff') format('woff');
}