.badge {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 8px 16px;
	box-shadow: 0 2px 2px var(--color-shadow);
	z-index: 10000;
	border-radius: 20px;
	font-family: 'Inter-Medium', 'Arial', sans-serif;
	font-weight: 500;
}

.small {
	min-height: 32px;
	font-size: 13px;
	padding: 6px 12px;
}

.medium {
	min-height: 42px;
	font-size: 15px;
	padding: 8px 16px;
}

.large {
	min-height: 52px;
	font-size: 17px;
	padding: 12px 20px;
}

.text {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 1.2;
}

.success {
	border: 3px solid;
	border-color: var(--color-green-badge);
	background: var(--color-lightgreen-badge);
	color: var(--color-green-badge);
}

.danger {
	border: 3px solid;
	border-color: var(--color-red-badge);
	background: var(--color-lightred-badge);
	color: var(--color-red-badge);
}
