# порт, на котором будет запускаться фронтенд
PORT=

# режим работы и сборки приложения (development, production)
MODE=

# URL API-сервера в виде http://localhost:[BACKEND_PORT], например http://localhost:8000,
API_URL=
